name: Tests

on:
  pull_request:
    branches: main # Trigger on PRs to main branch
  push:
    branches: [main, staging] # Trigger on pushes to main and staging branches

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run tests
        run: pytest